.content .breadcrumb {
  background: transparent;
  margin-bottom: 0;
}

.content .breadcrumb > div > a {
  color: white;
}

.content .breadcrumb > div {
  display: inline-block;
  padding: 3px 12px;
  background: #ff6c0f;
  border: 1px solid #ff6c0f;
  position: relative;
  margin-right: 11px;
}

.content .breadcrumb > div::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 7px solid #ff6c0f;
  border-top: 14px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #ff6c0f;
}

.content .breadcrumb > div.active::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid #ff6c0f;
  border-left: 7px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 7px solid #ff6c0f;
}

.navbar-default .navbar-nav .open #dx {
  left: -154px;
}

.blog-list .thumbnail .sub-title {
  height: 70px;
}

.blog-list .thumbnail .sub-title > a {
  color: black;
}

.blog-list .thumbnail .sub-title > a:hover,
.blog-list .thumbnail .sub-title > a:active,
.blog-list .thumbnail .sub-title > a:focus {
  text-decoration: none;
  color: #41a860;
}

.blog-list .thumbnail .sub-title h4,
.blog-list .thumbnail .sub-content p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.blog-list .thumbnail .sub-content {
  height: 120px;
}

.blog-list .thumbnail .sub p {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.15em;
}

.blog-list .thumbnail .sub a {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: black;
  font-size: 1.15em;
}

.blog-list .thumbnail .sub a:hover,
.blog-list .thumbnail .sub a:active,
.blog-list .thumbnail .sub a:focus {
  text-decoration: none;
  border-color: #41a860;
  color: #41a860;
}

@media (min-width: 768px) {
  .blog-list .thumbnail .sub-content {
    height: 170px;
  }
}
