.content .breadcrumb {
  background: transparent;
  margin-bottom: 0;
}

.content .breadcrumb > div > a {
  color: white;
}

.content .breadcrumb > div {
  display: inline-block;
  padding: 3px 12px;
  background: #ff6c0f;
  border: 1px solid #ff6c0f;
  position: relative;
  margin-right: 11px;
}

.content .breadcrumb > div::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 7px solid #ff6c0f;
  border-top: 14px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #ff6c0f;
}

.content .breadcrumb > div.active::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid #ff6c0f;
  border-left: 7px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 7px solid #ff6c0f;
}

.content h3.title {
  color: #fa4107;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.content h3.title::before {
  border: 1px solid #fa4107;
  content: " ";
  position: absolute;
  background: #f6f6f6;
  bottom: -6px;
  width: 50%;
  height: 30px;
  z-index: -1;
  left: 25%;
}

.content h3.title::after,
.trend-items h3.title::after {
  content: " ";
  position: absolute;
  border: 1px solid #fa4107;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}

.content .panel,
.content .tab-content input,
.content .panel,
.content .tab-content textarea {
  background-color: transparent;
  -webkit-box-shadow: 4px 3px 14px 1px rgba(133, 133, 133, 0.62);
  -moz-box-shadow: 4px 3px 14px 1px rgba(133, 133, 133, 0.62);
  box-shadow: 4px 3px 14px 1px rgba(133, 133, 133, 0.62);
  /* border-color: #fa4107; */
}

.content .tab-content textarea {
  width: 80%;
  background: white;
}

.content .tab-content input {
  width: 80%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  background: white;
}

.content .tab-content .input-boxx {
  margin-top: 20px;
}

.content .tab-content .input-boxx > .fa {
  font-size: 16px;
  padding-right: 5px;
}

.content .tab-content .tab-pane > button,
.content #step-2 button {
  color: white;
  background: #fa4107;
  background: -webkit-linear-gradient(#ff6c0f, #fa4107);
  background: linear-gradient(#ff6c0f, #fa4107);
  border: 1px solid transparent;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 4px 15px;
}

.content .tab-content .tab-pane > button:hover,
.content #step-2 button:hover {
  background: #ff6c0f;
  background: -webkit-linear-gradient(#fa4107, #ff6c0f);
  background: linear-gradient(#fa4107, #ff6c0f);
  border: 1px solid #fc4c02;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active,
.nav-pills > li.active > a:focus {
  background-color: #ff6c0f;
}

@media (min-width: 768px) {
  .content .panel .hidden-xs .col-sm-9 > .row {
    margin-left: 5px;
    margin-top: -5px;
  }

  .content .panel > .first {
    border-right: 1px solid #333333;
  }

  .content .panel .hidden-xs .col-sm-3.thumbnail {
    margin: 0 auto;
  }

  .navbar-default .navbar-nav .open #dx {
    left: -154px;
  }
}

@media (min-width: 992px) {
  .content .tab-content input,
  .content .tab-content textarea {
    width: 50%;
  }
}
