/*Mobile*/
.product-list .product > .thumbnail > button {
  border-radius: 0;
  transition: all 0.25s ease;
  background: #fa4107;
  background: -webkit-linear-gradient(#ff6c0f, #fa4107);
  background: linear-gradient(#ff6c0f, #fa4107);
  border: 1px solid transparent;
  color: white;
}

.product-list .product > .thumbnail > .div-p {
  display: block;
  height: 70px;
}

.product-list .product > .thumbnail > button:hover {
  background: #ff6c0f;
  background: -webkit-linear-gradient(#fa4107, #ff6c0f);
  background: linear-gradient(#fa4107, #ff6c0f);
  border: 1px solid #fc4c02;
}

.product-list .product > .thumbnail > a:first-child > img {
  border-radius: 4px 4px 0 0;
  border: 1px solid #ccc;
}

.product-list .product > .thumbnail p {
  font-size: 15px;
  color: black;
  margin: 5px;
}

.product-list .product > .thumbnail > a:hover {
  text-decoration: none;
}

.product-list .product > .thumbnail > a:hover p {
  color: #fa4107;
}

.product-list .product > .thumbnail > a > img {
  transition: 500ms ease;
}

.product-list .product > .thumbnail > a > img:hover {
  opacity: 0.8;
}

.product-list .row:first-child .col-xs-3:first-child > h4 {
  margin-top: 28px;
}

.product-list .sort #sort-by {
  max-width: 20px;
}

.product-list .pagination > .active > a {
  background-color: #ff6c0f;
  border-color: #ff6c0f;
}

.product-list #pagination-top > .col-sm-8,
.product-list #pagination-bottom > .col-sm-8,
.product-list #pagination-bottom .sort {
  display: none;
}

.product-list .sort > .sort-by {
  padding: 5px;
  border-radius: 4px;
}

.product-list .sort {
  margin-bottom: 10px;
  margin-top: 20px;
}

.trend-items .thumbnail-relation {
  height: 120px;
}

.trend-items .thumbnail-relation img {
  border: 1px solid silver;
}

.trend-items .thumbnail-relation p {
  text-align: justify;
  padding: 0 17px;
}

.trend-items .thumbnail-relation h4 {
  padding-left: 17px;
}

.trend-items .thumbnail-relation {
  height: 435px;
}

.trend-items .btn {
  display: none;
}

.content h3.title,
.trend-items h3.title {
  color: #fa4107;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.content h3.title::before,
.trend-items h3.title::before {
  border: 1px solid #fa4107;
  content: " ";
  position: absolute;
  background: #fcfcfc;
  bottom: -6px;
  width: 60%;
  height: 30px;
  z-index: -1;
  left: 20%;
}

.trend-items h3.title::before {
  background-color: #eee;
}

.content h3.title::after,
.trend-items h3.title::after {
  content: " ";
  position: absolute;
  border: 1px solid #fa4107;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}

.trend-items {
  margin-top: 50px;
}

.content .breadcrumb {
  background: transparent;
  margin-bottom: 0;
}

.content .breadcrumb > div > a {
  color: white;
}

.content .breadcrumb > div {
  display: inline-block;
  padding: 3px 12px;
  background: #ff6c0f;
  border: 1px solid #ff6c0f;
  position: relative;
  margin-right: 11px;
}

.content .breadcrumb > div::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 7px solid #ff6c0f;
  border-top: 14px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #ff6c0f;
}

.content .breadcrumb > div.active::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid #ff6c0f;
  border-left: 7px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 7px solid #ff6c0f;
}

.product-list .product .thumbnail > img {
  position: absolute;
  top: 0;
  right: 14px;
}

.product-list .product .thumbnail {
  transition: 400ms ease;
}

.product-list .product .thumbnail:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(133, 133, 133, 0.2);
  -moz-box-shadow: 0 0 10px 3px rgba(133, 133, 133, 0.2);
  box-shadow: 0 0 10px 3px rgba(133, 133, 133, 0.2);
  /*transition: 400ms ease;*/
}

.product-list .product .thumbnail:hover {
  /*-webkit-box-shadow: 0px 0px 10px 3px rgba(133,133,133,0.2);*/
  /*-moz-box-shadow: 0px 0px 10px 3px rgba(133,133,133,0.2);*/
  /*box-shadow: 0px 0px 10px 3px rgba(133,133,133,0.2);*/
}

/*Pads*/
@media (min-width: 768px) {
  .sidebar {
    border: 2px solid #fa4107;
    margin-top: 29px;
    padding-top: 26px;
  }

  .sidebar .panel-group .panel-body > li {
    list-style-type: none;
    padding-left: 30px;
  }

  .product-list .sort .sort-by {
    float: left !important;
    max-width: 140px;
  }

  .product-list #pagination-top > .col-sm-8,
  .product-list #pagination-bottom > .col-sm-8,
  .product-list #pagination-bottom .sort {
    display: block;
  }

  .product-list #pagination-bottom .prev-next {
    display: none;
  }

  .product-list .sort {
    margin-top: 28px;
  }

  .sidebar .panel-default > .panel-heading {
    opacity: 0.75;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
      #222,
      #373737
    ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #373737); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #373737); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #373737); /* Standard syntax */
  }

  .sidebar .panel-default > .panel-heading a {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }

  .sidebar .panel-default > .panel-heading a:hover {
    color: #ff6c0f;
  }

  .sidebar h4 > small {
    color: white;
  }

  .sidebar h4 {
    display: block;
    color: white;
    background: #fa4107;
    background: -webkit-linear-gradient(#ff6c0f, #fa4107);
    background: linear-gradient(#ff6c0f, #fa4107);
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .sidebar .panel-default .panel-body {
    background: rgba(255, 255, 255, 1);
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    /*background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    /*background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
  }

  .sidebar .panel-default .panel-body > ul {
    list-style-type: none;
    padding-left: 20px;
  }

  .sidebar .panel-default .panel-body > ul > li > a,
  .sidebar .panel-default .panel-body > ul > li > a:active {
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sidebar .panel-default .panel-body > ul > li > a:hover {
    color: #ff6c0f;
  }

  .sidebar .panel-default > .panel-heading a:hover,
  .sidebar .panel-default > .panel-heading a:focus,
  .sidebar .panel-default > .panel-heading a:hover:visited {
    text-decoration: none;
  }

  .content h3.title::before,
  .trend-items h3.title::before {
    background: #f5f5f5;
    width: 40%;
    left: 30%;
  }

  .trend-items h3.title::before {
    background: #eee;
  }

  .content h3.title::after {
    /*left: -3%;*/
    width: 100%;
  }

  .trend-items .thumbnail-relation {
    height: 395px;
  }

  .product-list .product > .thumbnail > .div-p {
    display: block;
    height: 65px;
  }

  .content .breadcrumb > div {
    padding: 5px 15px;
    margin-right: 15px;
  }

  .content .breadcrumb > div::after {
    border-left: 8px solid #ff6c0f;
    border-top: 16px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #ff6c0f;
  }

  .content .breadcrumb > div.active::before {
    left: -16px;
    border-top: 16px solid #ff6c0f;
    border-left: 8px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 8px solid #ff6c0f;
  }

  .trend-items .thumbnail-relation h4 {
    display: inline-block;
    height: 40px;
  }
}

/*Desktop*/
@media (min-width: 992px) {
  @keyframes dropdown {
    0% {
      top: -34px;
    }
    100% {
      top: 100px;
    }
  }

  .trend-items .btn {
    display: block;
    border-radius: 0;
    transition: all 0.25s ease;
    background: #fa4107;
    background: -webkit-linear-gradient(#ff6c0f, #fa4107);
    background: linear-gradient(#ff6c0f, #fa4107);
    border: 1px solid transparent;
    font-weight: bold;
    color: white;
  }

  .trend-items .btn:hover {
    background: #ff6c0f;
    background: -webkit-linear-gradient(#fa4107, #ff6c0f);
    background: linear-gradient(#fa4107, #ff6c0f);
    border: 1px solid #fc4c02;
  }

  .trend-items .thumbnail-relation {
    height: 400px;
    position: relative;
    transition: 0.5s ease;
    overflow: hidden;
  }

  .trend-items .thumbnail-relation:hover img {
    opacity: 0.8;
  }

  .trend-items .thumbnail-relation input {
    position: absolute;
    display: block;
    width: 70%;
    top: -34px;
    left: 15%;
  }

  .trend-items .thumbnail-relation:hover input {
    animation: dropdown 0.7s ease;
    opacity: 1;
    top: 25%;
    left: 15%;
  }

  .content .breadcrumb > div {
    padding: 5px 15px;
    border: 1px solid #ff6c0f;
    margin-right: 13px;
  }

  .content h3.title::before,
  .trend-items h3.title::before {
    background: #f5f5f5;
    width: 30%;
    left: 35%;
  }

  .product-list .product > .thumbnail p {
    font-size: 18px;
  }

  .product-list .product > .thumbnail > .div-p {
    height: 55px;
  }

  .product-list .product .thumbnail > h4 {
    font-size: 23px;
  }

  .product-list .product > .thumbnail > button {
    padding: 5px 20px;
  }

  .trend-items .thumbnail-relation h4 {
    display: inline-block;
    height: 17px;
  }
}
